@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

:root {
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);

  --very-dark-blue-bg: hsl(217, 54%, 11%);
  --very-dark-blue-card: hsl(216, 50%, 16%);
  --very-dark-blue-line: hsl(215, 32%, 27%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-family: "Outfit", sans-serif;
  background-color: var(--very-dark-blue-bg);
  color: white;
}

body > * {
  flex-basis: 100%;
}

img {
  max-width: 100%;
  border-radius: 10px;
}

.d-flex {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.card__container {
  max-width: min(350px, 90%);
  background-color: var(--very-dark-blue-card);
  padding: 2rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 0 0.5rem;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 5px 15px 5px rgba(0, 0, 0, 0.2);
}

.card__container:hover {
  transform: scale(1.05);
  box-shadow: 0 7.5px 15px 5px rgba(0, 0, 0, 0.1);
}

.img__container {
  position: relative;
  font-size: 0;

  /* Dont ask me why i had to put font-size "0" in here to fix 
  the issue that the overlay  was slightly larger than the actual 
  img but it works :D, found the solution here 
  https://stackoverflow.com/questions/52310184/darkened-overlay-on-hover-is-larger-than-image
  */
}

.img__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  border-radius: 10px;
  height: 100%;
  opacity: 0;
  transition: all 0.5s ease;
  background-color: var(--cyan);
}

.img__overlay:hover {
  opacity: 0.25;
}

.img__overlay-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
  opacity: 0;
}

.img__container:hover {
  cursor: pointer;
}

.img__container:hover .img__overlay-icon {
  opacity: 1;
}

.card__heading {
  font-size: 1.25rem;
  transition: all 0.3s ease;
}

.card__heading:hover {
  cursor: pointer;
  color: var(--cyan);
}

.card__description {
  color: var(--soft-blue);
  font-weight: 300;
  letter-spacing: 1px;
}
.card__meta-container {
  display: flex;
  justify-content: space-between;
}

.card__meta-coins {
  color: var(--cyan);
  font-weight: 400;
  letter-spacing: 0.5px;
}

.card__meta-time-left {
  color: var(--soft-blue);
  letter-spacing: 1px;
}

.card__profile-container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

hr {
  border: 1px solid var(--very-dark-blue-line);
}

.card__profile-container img {
  max-width: 40px;
  outline: 2px solid white;
  border-radius: 50%;
}

.card__profile-container p {
  letter-spacing: 1px;
  font-size: 0.75rem;
}

.created-by {
  color: var(--soft-blue);
  transition: all 0.3s ease;
}

.created-by:hover {
  color: var(--cyan);
  cursor: pointer;
}

@media (max-width: 1399.98px) {
  body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    row-gap: 2rem;
    column-gap: 0;
  }
}

@media (max-width: 724.98px) {
  body {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    row-gap: 2rem;
    column-gap: 0;
  }
}
